<div class="layer layer-reviews tinted" id="reviews">
    <div class="content">
        <div class="main">
            <h4 class="title">Reviews</h4>
            <h2 class="sub-title">Satisfied Guests</h4>
            <p class="text">
                We have had a number of great reviews from our guests staying at Ibiza Royal Beach, here is a small selection for you to assist you in making your decision.
            </p>
        </div>
        <div class="side center">
            <div id="carouselExampleControls" class="review-slider carousel slide" data-ride="carousel">
                
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="review-content">
                            <p class="review-header">
                                <span class="quote">"</span>
                                IF CARLSBERG DID APARTMENTS!
                                <span class="quote">"</span>
                            </p>
                            <p class="review-auther">Christohper H.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="review-content">
                            <p class="review-header">
                                <span class="quote">"</span>
                                Outstanding Deluxe Apartment 5 Star Luxury
                                <span class="quote">"</span>
                            </p>
                            <p class="review-auther">Julia N.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="review-content">
                            <p class="review-header">
                                <span class="quote">"</span>
                                Perfect very luxury apartment
                                <span class="quote">"</span>
                            </p>
                            <p class="review-auther">Zurgen Z.</p>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>