<div class="layer layer-location tinted-pattern" id="location">
    <div class="content">
        <div class="side wow">
			<iframe class="layer-location-map" allowtransparency="true" frameborder="0" scrolling="no" src="//www.weebly.com/weebly/apps/generateMap.php?map=google&amp;elementid=538764898217549104&amp;ineditor=0&amp;control=3&amp;width=500px&amp;height=350px&amp;overviewmap=1&amp;scalecontrol=0&amp;typecontrol=1&amp;zoom=13&amp;long=1.4143252&amp;lat=38.8972903&amp;domain=www&amp;point=1&amp;align=2&amp;reseller=false"></iframe>
		</div>
		<div class="main">
			<h4 class="title">Location</h4>
			<h2 class="sub-title">Playa d'en Bossa</h4>
			<p class="text">
				Ibiza Royal Beach is located facing the sea in the most peaceful area of Playa d'en Bossa, the urban beach of Ibiza, a city which in the course of the past few years is becoming the fasionable place to be. 
				<br />
				<br />
				It is located just a quick 8 minute drive from the airport, with fast access to any place in the island and walking distance to the hottest beach clubs: Nassau, La Plage, Ushauia, Bora Bora... via the beach.
				<br />
				<br />
				There is also a ferry running from just in front of Ibiza Royal Beach which can run you into Ibiza Town for some of the best shopping, some dinner in the old town etc....
			</p>
		</div>
    </div>
</div>