<footer id="footer">
    <div class="content">
        
        <div class="link-section">
            <p class="title">
                Events & Clubbing
            </p>
            <a href="http://addictedtoibiza.com" target="_blank" class="link-img addictedtoibiza"></a>
            <a href="https://www.ibiza-spotlight.com/" target="_blank" class="link-img ibizaspotlight"></a>
        </div>

        <div class="link-section">
            <p class="title">
                Other links
            </p>
            <a href="http://www.spaceibiza.com/en.html" target="_blank">Space Ibiza</a>
            <a href="https://www.amnesia.es/" target="_blank">Amnesia</a>
            <a href="http://www.ushuaiaibiza.com/en/" target="_blank">Ushuaia</a>
            <br />
            <a href="www.pacha.com">Pacha</a>
        </div>

        <div class="link-section">
            <p class="title">
                Home Away Links
            </p>
            <a href="https://www.homeaway.com/vacation-rental/p8118065" target="_blank">United States</a>
            <a href="https://www.homeaway.com.au/holiday-rental/p8118065" target="_blank">Australia</a>
            <a href="https://www.homeaway.es/p8118065" target="_blank">España</a>
            <br />
            <a href="https://www.aluguetemporada.com.br/imovel/p8118065" target="_blank">Brasil</a>
            <a href="https://www.ownersdirect.co.uk/accommodation/p8118065" target="_blank">United Kingdom</a>
        </div>

    </div>
</footer>