---
title: Book Request
title_reverse: true
---
<div id="main-container" class="container-fluid" data-spy="scroll"> 
    <div class="layer tinted layer-apartment" id="apartment">
        <div class="content">
            
            <div class="main">
                <h4 class="title">Book Request</h4>
                <h2 class="sub-title">Fees</h4>
                <p class="text">
                    table fees goes here, maybe a button to homeaway?
                </p>
            </div>

            <div class="side center">
            </div>

            <div class="main">
                <h4 class="title">Calendar</h4>
                <h2 class="sub-title">Availablity</h4>
                <p class="text">
                    calendar goes here
                </p>
            </div>
        </div>
    </div>

    <%= partial 'partials/home/layer_contact' %>

</div>
